<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel = "stylesheet"
   type = "text/css"
   href = "main.css" />
<title>Advisor Home</title>
</head>

<body>




  <div class="topnav">
 

  <a th:href="@{/logout}">Logout</a>
  <a href="#Schedule">Schedule</a>
  <a href="#Appointment">Appointment</a>
  <a th:href="@{/advisor}">Home</a>
 

 
  
  <p style="padding-top: 10px; padding-left: 26px; font-size: 20px; text-align:left; color: #f2f2f2;">Welcome to ULM Advising System</p>
</div>

  <div sec:authorize="isAuthenticated()">
    Welcome, <span sec:authentication="name">name</span>     
</div>

<h1>You will see this page if you are an advisor.</h1>

	
</body>
</html>



